<!DOCTYPE html>

<html>
    <head>
        <title>Form</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="index.html">Smart Toll Collection</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="form.html">Fill The Form now</a></li>
            </ul>
        </nav>

        <!-- Heading -->
        <div id="heading">
            <h1>Register Yourself</h1>
        </div>
        <section id="main" class="wrapper">
            <div class="inner">
                <div class="content">
                    <h2>
                        Enter your details and get started!
                    </h2>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    value=""
                                    placeholder="Name"
                                />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    value=""
                                    placeholder="Email"
                                />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input
                                    type="Mobile"
                                    name="text"
                                    id="mobile"
                                    value=""
                                    placeholder="Mobile"
                                />
                            </div>
                            <!-- Break -->
                            <!-- Break -->
                            <!-- <div class="col-4 col-12-small">
                    <input type="radio" id="radio-alpha" name="radio" checked />
                    <label for="radio-alpha">Radio alpha</label>
                </div>
                <div class="col-4 col-12-small">
                    <input type="radio" id="radio-beta" name="radio" />
                    <label for="radio-beta">Radio beta</label>
                </div>
                <div class="col-4 col-12-small">
                    <input type="radio" id="radio-gamma" name="radio" />
                    <label for="radio-gamma">Radio gamma</label>
                </div> -->
                            <!-- Break -->
                            <!-- <div class="col-6 col-12-small">
                    <input
                        type="checkbox"
                        id="checkbox-alpha"
                        name="checkbox"
                    />
                    <label for="checkbox-alpha">Checkbox alpha</label>
                </div>
                <div class="col-6 col-12-small">
                    <input
                        type="checkbox"
                        id="checkbox-beta"
                        name="checkbox"
                        checked
                    />
                    <label for="checkbox-beta">Checkbox beta</label>
                </div> -->
                            <!-- Break -->
                            <div class="col-12">
                                <textarea
                                    name="textarea"
                                    id="textarea"
                                    placeholder="Enter your car registration number "
                                    rows="2"
                                ></textarea>
                            </div>
                            <div class="col-12">
                                <textarea
                                    name="textarea"
                                    id="textarea"
                                    placeholder="Enter your address "
                                    rows="5"
                                ></textarea>
                            </div>
                            <!-- Break -->
                            <div class="col-12">
                                <ul class="actions">
                                    <li>
                                        <input
                                            type="submit"
                                            value="Submit Form"
                                            class="primary"
                                        />
                                    </li>
                                    <li>
                                        <input type="reset" value="Reset" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
