<!DOCTYPE html>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>Generic Page - Industrious by TEMPLATED</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="index.html">Industrious</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="form.html">Fill The Form now</a></li>
            </ul>
        </nav>

        <!-- Heading -->
        <div id="heading">
            <h1>Generic Page</h1>
        </div>

        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <div class="content">
                    <header>
                        <h2>Here is your balance..</h2>
                    </header>
                    <p>
                        250
                    </p>
                    <hr />
                    <h3>After running the transaction</h3>
                    <p>
                        200
                    </p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>Accumsan montes viverra</h3>
                        <p>
                            Nunc lacinia ante nunc ac lobortis. Interdum
                            adipiscing gravida odio porttitor sem non mi integer
                            non faucibus ornare mi ut ante amet placerat
                            aliquet. Volutpat eu sed ante lacinia sapien lorem
                            accumsan varius montes viverra nibh in adipiscing.
                            Lorem ipsum dolor vestibulum ante ipsum primis in
                            faucibus vestibulum. Blandit adipiscing eu felis
                            iaculis volutpat ac adipiscing sed feugiat eu
                            faucibus. Integer ac sed amet praesent. Nunc lacinia
                            ante nunc ac gravida.
                        </p>
                    </section>
                    <section>
                        <h4>Sem turpis amet semper</h4>
                        <ul class="alt">
                            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
                            <li><a href="#">Etiam vel lorem sed amet.</a></li>
                            <li><a href="#">Felis enim feugiat viverra.</a></li>
                            <li><a href="#">Dolor pulvinar magna etiam.</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
