<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link href="/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="/main.3f6952e4.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="minimal">
	<!-- <div id="site-border-left"></div>
	<div id="site-border-right"></div>
	<div id="site-border-top"></div>
	<div id="site-border-bottom"></div> -->


	<!-- The video -->
	<div class="video-wrapper">
		<video autoplay muted loop id="myVideo">
			<source src="/assets/videos/Traffic_disco.mov" type="video/mp4">
		</video>
		<div class="content">
		<!-- Add your site or app content here -->
			
		
		
			<div class="hero-full-container background-image-container white-text-container">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="hero-full-wrapper">
								<div class="text-content">
									<h1>Welcome,<br>
										<span id="typed-strings">
											<span>Let's make social media productive!<br></span>
											<span>Let's be updated!<br></span>
											<span>Let's make the world a better place!</span>
										</span>
										<span id="typed"></span>
									</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-primary" href="{{url_for('main.test')}}" role="button">Get Started</a>


		</div>
	</div>

	<!-- button -->
		<!-- <button class="Button js-button">
				Hover over me
		</button> -->

		<script>
			document.addEventListener("DOMContentLoaded", function (event) {
				type();
				movingBackgroundImage();
		});
		</script>
	<script type="text/javascript" src="/main.70a66962.js"></script>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>